@model List<CurateMyCommunity_Api.Areas.Admin.Models.ManageUsers.ManageUserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create", "ManageUsers")
</p>
@using (Html.BeginForm("Delete", "ManageUsers"))
{
<table class="table">
    <tr>
        <th>
            &nbsp;
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            EmailAddress
        </th>
        <th>
            Username
        </th>
        <th>
            Date Created
        </th>
        @*<th></th>*@
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <tr>
        <td>
            @Html.HiddenFor(x => Model[i].id_users)
            @Html.CheckBoxFor(x => Model[i].is_selected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id_users }, null)
        </td>*@
    </tr>
    }

</table>
<button type="submit" class="btn btn-danger">Delete User(s)</button>
}